/General Styling/

#logo {
    text-align: center;
    margin: 0;

}

p {
    font-family: 'Alegreya', sans-serif;
    line-height: 1.5;
    color: black;
    margin: 0;
}

img {
    max-width: 100%
}

