/General Styling/


body {
    margin: 0;
    font-family: verdana, sans-serif;
    font-size: 0.85em;
    background: blue;
}

#wrapper {
    width: 920px;
    margin: 0 auto;
}

#header {
    float: left;
    margin: 20px 0;
    width: 100%;
}

/*********************
**********************/

#nav {
    margin-top: 20px;
    list-style: none;
    float: right;
}

#nav li {
    float: left;
    margin-left: 20px;
}

a {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    background: #0077ff;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
}

a:hover, a:focus {
    color: ghostwhite;
    background: #0044ff;
}


/*****************
*********************/

img {
    max-width: 100%;
}

#about {
    font-size: 1.3em;
    margin: 20px 0px;
    float: left;
}

#about p {
    background: lightblue;
    padding: 20px;
    font-style: italic;
    font-size: 0.9em;
}












