/General Styling/


body {
    background-color: blueviolet;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Alegreya', sans-serif;
    line-height: 1.5;
    color: black;
    margin: 0;

}
img {
    max-width: 100%;
}

li {
    float: right;
    margin: 20px;
    display: inline-block;
}



#logo {
    background-color: green;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin: 0;

}

/Header Styling/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;

}

div {

}


